@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glass';
  src: url('/fonts/Glass-TTY-VT220.ttf') format('truetype');
}

body {
  font-family: 'Glass'; /* Make sure 'monospace' fallback is set */
  background-color: #5b0008; /* Navy blue background */
  color: white; /* White text color */
  
}

.matrix-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      rgba(255, 0, 0, 0.1), /* Red lines */
      rgba(255, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.1), /* Red lines */
      rgba(255, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 20px
    );
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
